<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
  </head>
  <body>
    <nav>
      <a href="">Top</a>
      <a href="">New</a>
    </nav>
    <div>
      <ul>
        <li><a href="https://google.com">The first link is to Google!</a></li>
        <li><a href="https://duckduckgo.com">Here is a second link: DuckDuckGo doesn't track searches</a></li>
        <li><a href="https://microsoft.com">Link number 3: Is Microsoft even relevant?</a></li>
        <li>This is not a link</li>
      </ul>
    </div>
  </body>
</html>